USE [master]
GO
/****** Object:  Database [DB_EXAM_1]    Script Date: 10/23/2023 2:53:16 AM ******/
CREATE DATABASE [DB_EXAM_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_EXAM_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_EXAM_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_EXAM_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_EXAM_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_EXAM_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_EXAM_1]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[ID] [varchar](50) NOT NULL,
	[code] [nvarchar](50) NULL,
	[building] [nvarchar](100) NULL,
	[floor] [int] NULL,
	[type] [nvarchar](50) NULL,
	[capacity] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Classroo__3214EC27EA78B1BF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID] [varchar](50) NOT NULL,
	[subjectID] [varchar](50) NULL,
	[semesterID] [char](20) NULL,
	[name] [nvarchar](100) NULL,
	[instructor] [char](20) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Course__3214EC277CBD2107] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[examinerID] [varchar](50) NULL,
	[name] [nvarchar](20) NULL,
	[examinerType] [char](20) NULL,
	[faculty] [nvarchar](50) NULL,
	[location] [nvarchar](100) NULL,
	[phone] [char](15) NULL,
	[status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamBatch]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamBatch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[courseID] [varchar](50) NULL,
	[code] [varchar](50) NULL,
	[date] [datetime] NULL,
	[location] [nvarchar](100) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__ExamBatc__3214EC2707B208AB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examiner]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examiner](
	[ID] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[experienceYears] [int] NULL,
	[specialization] [nvarchar](100) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Examiner__3214EC273360F4A0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examiner_In_Semeter]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examiner_In_Semeter](
	[ID] [char](20) NOT NULL,
	[examinerID] [varchar](50) NULL,
	[semeterID] [char](20) NULL,
	[totalSlot] [int] NULL,
	[minSot] [int] NULL,
	[maxSlot] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Examiner__3214EC273D7DB2F4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamRoom]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamRoom](
	[ID] [varchar](50) NOT NULL,
	[classRoomID] [varchar](50) NOT NULL,
	[examSlotID] [varchar](50) NOT NULL,
	[subjectID] [varchar](50) NOT NULL,
	[examinerID] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ExamRoom__3214EC27DBD1120D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamSlot]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamSlot](
	[ID] [varchar](50) NOT NULL,
	[examBatchID] [int] NULL,
	[startTime] [datetime] NULL,
	[endTime] [datetime] NULL,
	[quantity] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__ExamSlot__3214EC277FD2526E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register](
	[examinerID] [varchar](50) NOT NULL,
	[examSlotID] [varchar](50) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Register__42B8650F7321AAA7] PRIMARY KEY CLUSTERED 
(
	[examinerID] ASC,
	[examSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[ID] [char](20) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[year] [int] NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stu_ExamRoom]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stu_ExamRoom](
	[studentID] [char](20) NOT NULL,
	[examRoomID] [varchar](50) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Stu_Exam__1A33C92BC30FD8BB] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[examRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [char](20) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[dateOfBirth] [date] NULL,
	[major] [nvarchar](50) NULL,
	[yearOfStudy] [nvarchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_In_Course]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_In_Course](
	[studentID] [char](20) NOT NULL,
	[courseID] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Student___FE795294812A5335] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC,
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [varchar](50) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[credit] [int] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Subject__3214EC27810E05DF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Slot]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Slot](
	[subjectID] [varchar](50) NOT NULL,
	[examSlotID] [varchar](50) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK__Subject___E138B2B88B86C26B] PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC,
	[examSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/23/2023 2:53:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [char](30) NOT NULL,
	[userName] [nvarchar](50) NULL,
	[email] [char](40) NULL,
	[Role] [char](30) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Classroom] ([ID], [code], [building], [floor], [type], [capacity], [status]) VALUES (N'P001                ', N'P001', N'FPTU', 0, N'Classroom', 25, 1)
INSERT [dbo].[Classroom] ([ID], [code], [building], [floor], [type], [capacity], [status]) VALUES (N'P004                ', N'P004', N'FPTU', 0, N'Classroom', 25, 1)
INSERT [dbo].[Classroom] ([ID], [code], [building], [floor], [type], [capacity], [status]) VALUES (N'P006                ', N'P006', N'FPTU', 0, N'Classroom', 25, 1)
GO
INSERT [dbo].[Course] ([ID], [subjectID], [semesterID], [name], [instructor], [status]) VALUES (N'1                   ', N'CSI104              ', N'SU25                ', N'Khoa 1', N'T?ng Quang Hi?u     ', 1)
INSERT [dbo].[Course] ([ID], [subjectID], [semesterID], [name], [instructor], [status]) VALUES (N'C001                ', N'ACC101              ', N'FA23                ', N'Principle Accounting - FA23 - SAP1701', N'Chautn              ', 1)
INSERT [dbo].[Course] ([ID], [subjectID], [semesterID], [name], [instructor], [status]) VALUES (N'C002                ', N'ENM301              ', N'SU25                ', N'Business English', N'V? Th? Thùy D??ng   ', 1)
GO
INSERT [dbo].[Department] ([examinerID], [name], [examinerType], [faculty], [location], [phone], [status]) VALUES (N'E001                ', N'Ðào Nguy?n Huy Nhân', N'Lecture             ', N'Information Technology', N'P701, FPTU Campus', N'0983427546     ', 1)
INSERT [dbo].[Department] ([examinerID], [name], [examinerType], [faculty], [location], [phone], [status]) VALUES (N'EX123               ', N'Tr?n Công Ð?i', N'Lecture             ', N'Information Technology', N'P701 FPTU Campus', N'0123456        ', 1)
INSERT [dbo].[Department] ([examinerID], [name], [examinerType], [faculty], [location], [phone], [status]) VALUES (N'EX124               ', N'Ð? T?n Nhàn', N'Lecture             ', N'Information Technology', N'P702, FPTU Campus', N'098342444546   ', 1)
GO
SET IDENTITY_INSERT [dbo].[ExamBatch] ON 

INSERT [dbo].[ExamBatch] ([ID], [courseID], [code], [date], [location], [status]) VALUES (1, N'C002                ', N'JS1701', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'FPTU', 1)
INSERT [dbo].[ExamBatch] ([ID], [courseID], [code], [date], [location], [status]) VALUES (2, N'C002                ', N'JS1702', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'FPTU', 1)
INSERT [dbo].[ExamBatch] ([ID], [courseID], [code], [date], [location], [status]) VALUES (3, N'C002                ', N'JS1703', CAST(N'1900-01-01T00:00:00.000' AS DateTime), N'FPTU', 1)
SET IDENTITY_INSERT [dbo].[ExamBatch] OFF
GO
INSERT [dbo].[Examiner] ([ID], [name], [email], [experienceYears], [specialization], [status]) VALUES (N'E001                ', N'Ðào Nguy?n Huy Nhân', N'nhandnhse171010@fpt.edu.vn', 3, N'Infomation Technology', 1)
INSERT [dbo].[Examiner] ([ID], [name], [email], [experienceYears], [specialization], [status]) VALUES (N'EX123               ', N'Tr?n Công Ð?i', N'Doictex123@fe.edu.vn', 7, N'Infomation Technology', 1)
INSERT [dbo].[Examiner] ([ID], [name], [email], [experienceYears], [specialization], [status]) VALUES (N'EX124               ', N'Ð? T?n Nhàn', N'Nhandtex124@fe.edu.vn', 10, N'Infomation Technology', 1)
GO
INSERT [dbo].[Examiner_In_Semeter] ([ID], [examinerID], [semeterID], [totalSlot], [minSot], [maxSlot], [status]) VALUES (N'I001                ', N'EX165               ', N'SU25                ', 25, 5, 15, 1)
INSERT [dbo].[Examiner_In_Semeter] ([ID], [examinerID], [semeterID], [totalSlot], [minSot], [maxSlot], [status]) VALUES (N'I002                ', N'EX248               ', N'FA23                ', 25, 5, 15, 1)
INSERT [dbo].[Examiner_In_Semeter] ([ID], [examinerID], [semeterID], [totalSlot], [minSot], [maxSlot], [status]) VALUES (N'I003                ', N'EX165               ', N'FA23                ', 25, 5, 15, 1)
GO
INSERT [dbo].[ExamRoom] ([ID], [classRoomID], [examSlotID], [subjectID], [examinerID]) VALUES (N'R001                ', N'P001                ', N'Q001                ', N'SWE201c             ', N'EX248               ')
INSERT [dbo].[ExamRoom] ([ID], [classRoomID], [examSlotID], [subjectID], [examinerID]) VALUES (N'R002                ', N'P004                ', N'Q004                ', N'LAB211              ', N'E001                ')
INSERT [dbo].[ExamRoom] ([ID], [classRoomID], [examSlotID], [subjectID], [examinerID]) VALUES (N'R003                ', N'P006                ', N'Q002                ', N'PRJ301              ', N'EX123               ')
GO
INSERT [dbo].[ExamSlot] ([ID], [examBatchID], [startTime], [endTime], [quantity], [status]) VALUES (N'Q001                ', 1, CAST(N'2023-10-12T10:30:00.000' AS DateTime), CAST(N'2023-10-12T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ExamSlot] ([ID], [examBatchID], [startTime], [endTime], [quantity], [status]) VALUES (N'Q002                ', 2, CAST(N'2023-10-12T07:30:00.000' AS DateTime), CAST(N'2023-10-12T09:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[ExamSlot] ([ID], [examBatchID], [startTime], [endTime], [quantity], [status]) VALUES (N'Q003                ', 3, CAST(N'2023-11-12T10:30:00.000' AS DateTime), CAST(N'2023-11-12T00:00:00.000' AS DateTime), 1, 1)
GO
INSERT [dbo].[Register] ([examinerID], [examSlotID], [status]) VALUES (N'EX123               ', N'Q007                ', 1)
INSERT [dbo].[Register] ([examinerID], [examSlotID], [status]) VALUES (N'EX124               ', N'Q008                ', 1)
INSERT [dbo].[Register] ([examinerID], [examSlotID], [status]) VALUES (N'EX125               ', N'Q010                ', 1)
GO
INSERT [dbo].[Semester] ([ID], [code], [name], [year], [startDate], [endDate], [status]) VALUES (N'FA23                ', N'Fall_2023', N'Fall', 2023, CAST(N'2023-09-01T00:00:00.000' AS DateTime), CAST(N'2023-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Semester] ([ID], [code], [name], [year], [startDate], [endDate], [status]) VALUES (N'FA24                ', N'Fall_2024', N'Fall', 2024, CAST(N'2024-09-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Semester] ([ID], [code], [name], [year], [startDate], [endDate], [status]) VALUES (N'FA25                ', N'Fall_2025', N'Fall', 2025, CAST(N'2025-09-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[Stu_ExamRoom] ([studentID], [examRoomID], [status]) VALUES (N'SE170525            ', N'R001                ', 1)
INSERT [dbo].[Stu_ExamRoom] ([studentID], [examRoomID], [status]) VALUES (N'SE170525            ', N'R002                ', 1)
INSERT [dbo].[Stu_ExamRoom] ([studentID], [examRoomID], [status]) VALUES (N'SE170525            ', N'R003                ', 1)
GO
INSERT [dbo].[Student] ([ID], [name], [email], [dateOfBirth], [major], [yearOfStudy], [status]) VALUES (N'SE161777            ', N'Nguyen Huy Khai', N'nguyenhuykhaipch94@gmail.com', CAST(N'2003-09-15' AS Date), N'Sofware Engineer', N'2021', NULL)
INSERT [dbo].[Student] ([ID], [name], [email], [dateOfBirth], [major], [yearOfStudy], [status]) VALUES (N'SE170525            ', N'Hoàng Khánh Duy', N'duyhkse170525@fpt.edu.vn', CAST(N'2003-09-15' AS Date), N'Sofware Engineer', N'2021', 1)
INSERT [dbo].[Student] ([ID], [name], [email], [dateOfBirth], [major], [yearOfStudy], [status]) VALUES (N'SE170540            ', N'Luong Phạm Việt Anh', N'anhlpvse170540@fpt.edu.vn', CAST(N'2003-10-14' AS Date), N'Sofware Engineer', N'2021', NULL)
GO
INSERT [dbo].[Student_In_Course] ([studentID], [courseID]) VALUES (N'SE170525            ', N'C007                ')
INSERT [dbo].[Student_In_Course] ([studentID], [courseID]) VALUES (N'SE170540            ', N'C007                ')
INSERT [dbo].[Student_In_Course] ([studentID], [courseID]) VALUES (N'SE170545            ', N'C007                ')
GO
INSERT [dbo].[Subject] ([ID], [code], [name], [credit], [status]) VALUES (N'ACC101              ', N'ACC101', N'Principles of Accounting', 3, 1)
INSERT [dbo].[Subject] ([ID], [code], [name], [credit], [status]) VALUES (N'CEA201              ', N'CEA201', N'Computer Organization and Architecture', 3, 1)
INSERT [dbo].[Subject] ([ID], [code], [name], [credit], [status]) VALUES (N'CSD201              ', N'CSD201', N'Data Structures and Algorithms', 3, 1)
GO
INSERT [dbo].[Subject_Slot] ([subjectID], [examSlotID], [status]) VALUES (N'ACC101              ', N'Q017                ', 1)
INSERT [dbo].[Subject_Slot] ([subjectID], [examSlotID], [status]) VALUES (N'CSD201              ', N'Q002                ', 1)
INSERT [dbo].[Subject_Slot] ([subjectID], [examSlotID], [status]) VALUES (N'DBI202              ', N'Q003                ', 1)
GO
INSERT [dbo].[Users] ([ID], [userName], [email], [Role], [status]) VALUES (N'U001                          ', N'Lương Phạm Việt Anh', N'anhlpvse170540@fpt.edu.vn               ', N'Admin                         ', 1)
INSERT [dbo].[Users] ([ID], [userName], [email], [Role], [status]) VALUES (N'U002                          ', N'Nguyễn Quang Khánh', N'khanhnqse170545@fpt.edu.vn              ', N'Testing Admin                 ', 1)
INSERT [dbo].[Users] ([ID], [userName], [email], [Role], [status]) VALUES (N'U003                          ', N'Hoàng Khánh Duy', N'duyhkse170525@fpt.edu.vn                ', N'Testing Staff                 ', 1)
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__semester__403A8C7D] FOREIGN KEY([semesterID])
REFERENCES [dbo].[Semester] ([ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__semester__403A8C7D]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK__Course__subjectI__412EB0B6] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK__Course__subjectI__412EB0B6]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK__Departmen__exami__4222D4EF] FOREIGN KEY([examinerID])
REFERENCES [dbo].[Examiner] ([ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK__Departmen__exami__4222D4EF]
GO
ALTER TABLE [dbo].[ExamBatch]  WITH CHECK ADD  CONSTRAINT [FK__ExamBatch__cours__4316F928] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[ExamBatch] CHECK CONSTRAINT [FK__ExamBatch__cours__4316F928]
GO
ALTER TABLE [dbo].[Examiner_In_Semeter]  WITH CHECK ADD  CONSTRAINT [FK__Examiner___exami__440B1D61] FOREIGN KEY([examinerID])
REFERENCES [dbo].[Examiner] ([ID])
GO
ALTER TABLE [dbo].[Examiner_In_Semeter] CHECK CONSTRAINT [FK__Examiner___exami__440B1D61]
GO
ALTER TABLE [dbo].[Examiner_In_Semeter]  WITH CHECK ADD  CONSTRAINT [FK__Examiner___semet__44FF419A] FOREIGN KEY([semeterID])
REFERENCES [dbo].[Semester] ([ID])
GO
ALTER TABLE [dbo].[Examiner_In_Semeter] CHECK CONSTRAINT [FK__Examiner___semet__44FF419A]
GO
ALTER TABLE [dbo].[ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__ExamRoom__classR__45F365D3] FOREIGN KEY([classRoomID])
REFERENCES [dbo].[Classroom] ([ID])
GO
ALTER TABLE [dbo].[ExamRoom] CHECK CONSTRAINT [FK__ExamRoom__classR__45F365D3]
GO
ALTER TABLE [dbo].[ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__ExamRoom__examin__46E78A0C] FOREIGN KEY([examinerID])
REFERENCES [dbo].[Examiner] ([ID])
GO
ALTER TABLE [dbo].[ExamRoom] CHECK CONSTRAINT [FK__ExamRoom__examin__46E78A0C]
GO
ALTER TABLE [dbo].[ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__ExamRoom__examSl__47DBAE45] FOREIGN KEY([examSlotID])
REFERENCES [dbo].[ExamSlot] ([ID])
GO
ALTER TABLE [dbo].[ExamRoom] CHECK CONSTRAINT [FK__ExamRoom__examSl__47DBAE45]
GO
ALTER TABLE [dbo].[ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__ExamRoom__subjec__48CFD27E] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[ExamRoom] CHECK CONSTRAINT [FK__ExamRoom__subjec__48CFD27E]
GO
ALTER TABLE [dbo].[ExamSlot]  WITH CHECK ADD  CONSTRAINT [FK__ExamSlot__examBa__49C3F6B7] FOREIGN KEY([examBatchID])
REFERENCES [dbo].[ExamBatch] ([ID])
GO
ALTER TABLE [dbo].[ExamSlot] CHECK CONSTRAINT [FK__ExamSlot__examBa__49C3F6B7]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK__Register__examin__4AB81AF0] FOREIGN KEY([examinerID])
REFERENCES [dbo].[Examiner] ([ID])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK__Register__examin__4AB81AF0]
GO
ALTER TABLE [dbo].[Register]  WITH CHECK ADD  CONSTRAINT [FK__Register__examSl__4BAC3F29] FOREIGN KEY([examSlotID])
REFERENCES [dbo].[ExamSlot] ([ID])
GO
ALTER TABLE [dbo].[Register] CHECK CONSTRAINT [FK__Register__examSl__4BAC3F29]
GO
ALTER TABLE [dbo].[Stu_ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__Stu_ExamR__examR__4CA06362] FOREIGN KEY([examRoomID])
REFERENCES [dbo].[ExamRoom] ([ID])
GO
ALTER TABLE [dbo].[Stu_ExamRoom] CHECK CONSTRAINT [FK__Stu_ExamR__examR__4CA06362]
GO
ALTER TABLE [dbo].[Stu_ExamRoom]  WITH CHECK ADD  CONSTRAINT [FK__Stu_ExamR__stude__4D94879B] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[Stu_ExamRoom] CHECK CONSTRAINT [FK__Stu_ExamR__stude__4D94879B]
GO
ALTER TABLE [dbo].[Student_In_Course]  WITH CHECK ADD  CONSTRAINT [FK__Student_I__cours__4E88ABD4] FOREIGN KEY([courseID])
REFERENCES [dbo].[Course] ([ID])
GO
ALTER TABLE [dbo].[Student_In_Course] CHECK CONSTRAINT [FK__Student_I__cours__4E88ABD4]
GO
ALTER TABLE [dbo].[Student_In_Course]  WITH CHECK ADD  CONSTRAINT [FK__Student_I__stude__4F7CD00D] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[Student_In_Course] CHECK CONSTRAINT [FK__Student_I__stude__4F7CD00D]
GO
ALTER TABLE [dbo].[Subject_Slot]  WITH CHECK ADD  CONSTRAINT [FK__Subject_S__examS__5070F446] FOREIGN KEY([examSlotID])
REFERENCES [dbo].[ExamSlot] ([ID])
GO
ALTER TABLE [dbo].[Subject_Slot] CHECK CONSTRAINT [FK__Subject_S__examS__5070F446]
GO
ALTER TABLE [dbo].[Subject_Slot]  WITH CHECK ADD  CONSTRAINT [FK__Subject_S__subje__5165187F] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Subject_Slot] CHECK CONSTRAINT [FK__Subject_S__subje__5165187F]
GO
USE [master]
GO
